server:
  port: 8010
spring:
  datasource:
    url: jdbc:h2:mem:drones
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    defer-datasource-initialization: true
    spring.jpa.database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop
  h2:
    console.enabled: true
    console.path: /h2-console